<div class="page-card">
  <div class="page-image" #container>
    <img (click)="addAnnotation($event)" [src]="page().imageUrl" [alt]="'Page ' + page().number" />

    @for (annotation of this.savedAnnotations(); track annotation; let i = $index) {
      <app-annotation-badge
        [annotation]="annotation"
        [containerRef]="containerRef"
        (delete)="deleteAnnotation(i)"
      ></app-annotation-badge>
    }

    <app-annotation-popup (save)="saveAnnotation($event)"></app-annotation-popup>
  </div>
</div>
